* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	-khtml-user-select: none;
	/* Konqueror */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently not supported by any browser */
}

body {
	font: 13px Arial;
	background: #006600;
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	/* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
button {
	padding: 5px;
}
div.card {
	border-radius: 8px;
	width: 90px;
	height: 130px;
	border: 2px solid black;
	background: #f2f7ff;
	font-size: 20px;
	line-height: 0.7em;
	box-shadow: 0 0 5px 1px #EEE;
	cursor: default;
	position: absolute;
	top: 0px;
}

div.card.display {
	position: relative;
	display: inline-block;
}

div.card.rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

div.cursor {
	position: absolute;
	z-index: 2147483646;
}

div.gifContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2147483647;
    display: none;
}

div#gifPlayerName {
    color: white;
    font-size: 24px;
}

div.otherPlayerCursor {
	position: absolute;
	background: #c7af29;
	opacity: 0.8;
	z-index: 2147483645;
	color: #000;
	padding: 5px;
	border-radius: 0px 15px 15px 15px;
}

div.card.back:hover {
	top: 0px;
}

div.card:hover {
	background: #fff8c9;
}

div.card.selected:not(.back) {
	top: -20px;
}

.hearts, .diamonds {
	color: red;
}

.spades, .clubs {
	color: #000;
}

div.game {
	width: 100%;
	height: 100%;
}

div.card .suit {
	margin-top: 55px;
	width: 100%;
	text-align: center;
	font-size: 80px;
}

div.sJoker .suit, div.bJoker .suit {
	font-size: 60px;
}

div.card .value {
	text-align: left;
	top: 8px;
	position: absolute;
	left: 6px;
}

div.card .valueBr {
	position: absolute;
	right: 6px;
	bottom: 8px;
	text-align: right;
}
.sJoker {
	background: url("images/sJoker.png") repeat repeat !important;
}

.bJoker {
	background: url("images/bJoker.png") repeat repeat !important;
}

div.card.back {
	background: url("images/back.png") repeat repeat !important;
}

div.fieldProperties {
	position: absolute;
	top: 10px;
	left: 40%;
	margin: 0 0 0 -650px;
	width: 1600px;
	height: 800px;
	background: url("images/texture.jpg") repeat;
    overflow: hidden;
}

div.chat textarea {
	width: 100%;
	height: 200px;
}

div.playArea {
	position: absolute;
	width: 33.33%;
	height: 33.33%;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.4);
}

div.playArea div.name {
	position: absolute;
	left: 50%;
	top: 10px;
	font-size: 40px;
	color: rgba(10, 10, 10, 0.2);
	font-weight: bold;
    transform: translate(-50%, 0px);
    width: 100%;
    text-align: center;
}

div.playArea button {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 10px;
}

div.me {
	width: 50%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 150px;
}

div.player {
	color: #FFF;
	padding: 10px;
	font-weight: bold;
}

div.scoreboard {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #FFF;
	color: #000;
	border-radius: 10px;
	padding: 8px;
    z-index: 10;
    min-height: 50%;
}

div.playCard {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    bottom: 200px;
    text-align: center;
}
